@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500&display=swap");

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  font-size: 14px;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav-bar {
  background: #2f303a;
}

li {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

footer {
  background: #2f303a;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* letter-spacing: 0.03em; */
  color: #757575;
}
